.header {
  .info, .filter {
    display: flex;
  }
  
  .btn-wrapper {
    flex: 1 1 0px;
    align-self: center;
    text-align: center;
  }

  .title {
    flex: 5 1 0px;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    text-align: center;
  }
}