@import 'colors';

.header {
  .info, .filter {
    display: flex;
  }
  
  .button-wrapper {
    flex: 1 1 0px;
    align-self: center;
    text-align: center;
    height: 100%;
    width: 100%;
  }

  .info {
    .button-wrapper {
      margin: 0 10px;
    }
  }

  .title {
    flex: 5 1 0px;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    text-align: center;
  }

  .filter {
    height: 35px;
    margin-top: 10px;
  }

  .filter-button, .info-button {
    height: 100%;
    width: 100%;
  }

  .info-button {
    background-color: $button;
    border-radius: 3px;
    height: 40px;
  }

  .filter-button {
    background-color: $button-dark;

    &.selected {
      background-color: $button;
    }
  }

}