@import 'colors';

.list {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .add-item {
    border: none;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 24px;
  }

  .add-item, .item {
    border-top: solid $border 1px;
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
  }

  .item {
    display: flex;
    font-size: 20px;

    input[type="checkbox"] {
      align-self: center;
      margin-right: 15px;
    }

    &:nth-child(odd) {
      background-color: $primary;

      .change-title {
        background-color: $primary;
      }
    }
  }

  .change-title {
    border: none;
    font-size: 20px;
    width: 100%;
  }

  .list-title {
    display: inline-block;
    text-decoration: none;
    width: 100%;

    &:visited {
      color: $text;
    }
  }

}